In [20]:
import pickle
import pandas as pd

In [57]:
s3 = pickle.load(open('app/storage/data/wesad/S2.pkl', 'rb'), encoding='latin1')

In [58]:
len(s3['label'])

4255300

In [61]:
import numpy as np
X = np.concatenate(
            [
        s3["signal"]["chest"]["ACC"],
        s3["signal"]["chest"]["Resp"],
        s3["signal"]["chest"]["EDA"],
        s3["signal"]["chest"]["ECG"],
        s3["signal"]["chest"]["EMG"],
        s3["signal"]["chest"]["Temp"],
    ],
    axis=1,
)
Y = s3["label"]
X = X[(Y > 0) & (Y < 5)]
X = (X - np.mean(X, axis=0)) / np.std(X, axis=0)
Y = Y[(Y > 0) & (Y < 5)]
Y = Y - 1
Y[Y > 1] = 0
for i, y in enumerate(Y):
    if y == 1:
        print("index is", i)
        break

# create dataframe from X and Y
df = pd.DataFrame(X)#[i-5000:i+5000])

# normalize columns
#df = (df - df.mean()) / df.std()
df.columns = ["acc_x", "acc_y", "acc_z", "ecg", "emg",  "eda", "temp", "resp"]
df["label"] = Y#[i-5000:i+5000]

index is 800800

In [62]:
# save dataframe
df.to_csv("app/storage/data/wesad/s2.csv", index=False)

In [54]:
df

,acc_x,acc_y,acc_z,ecg,emg,eda,temp,resp,label
0,-0.441141,-0.332464,-0.842784,-0.627723,-1.014414,-0.537238,1.142198,-0.304828,0
1,-0.499095,-0.305212,-0.855129,-0.621655,-1.013511,-0.527255,0.507322,-0.297945,0
2,-0.471823,-0.325651,-0.836612,-0.628590,-1.008544,-0.516164,-0.289305,-0.300713,0
3,-0.454777,-0.305212,-0.824267,-0.623822,-1.017574,-0.511410,0.034198,-0.303452,0
4,-0.499095,-0.291587,-0.841755,-0.627723,-1.018929,-0.504439,-1.514575,-0.297945,0
...,...,...,...,...,...,...,...,...,...
9995,0.192923,0.580448,1.374109,-0.178217,-0.688871,-0.501903,0.863176,-0.132705,1
9996,0.199740,0.614514,1.379252,-0.165646,-0.691580,-0.501745,-0.356028,-0.124417,1
9997,0.192923,0.641763,1.350448,-0.162612,-0.693386,-0.490178,-0.451057,-0.125793,1
9998,0.172470,0.648577,1.357649,-0.166079,-0.694289,-0.473382,-0.087115,-0.129256,1
9999,0.186104,0.621326,1.377195,-0.262743,-0.692483,-0.460865,0.741862,-0.123040,1